#companies_tree, #kpis_tree{
  height: 200px;
  overflow: scroll;
  overflow-x:hidden;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 3px;
}
.sec_lvl, .third_lvl{
  margin-left: 20px;
}
#kpis_tree .sec_lvl{
  margin-left: 30px;
}

.fourth_lvl{
  margin-left: 40px;
}

.tree_element a.collapse{
  display: inline;
}

.tree_element label{
  display: inline-block;
  margin-bottom: 0;
}

#buttons-containe button{
  margin: 5px 0;
}